.root {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #1E1F2A,
        #12131A
    );
}

.button {
    -fx-background-color: #3A86FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;  
    -fx-background-radius: 12;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 4);
    -fx-border-color: rgba(255,255,255,0.15);
    -fx-border-width: 1;
    -fx-border-radius: 12;
}

.button:hover {
    -fx-background-color: #2F6FDB;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.55), 14, 0.35, 0, 6);
    -fx-border-color: rgba(255,255,255,0.35);
}

.button:pressed {
    -fx-background-color: #1F56C2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0.2, 0, 2);
}

.button:selected {
    fx-background-color: #F4D35E;
    -fx-text-fill: #1E1F2A;
    -fx-effect: dropshadow(gaussian, rgba(244,211,94,0.4), 15, 0.3, 0, 0);
}

.label {
    -fx-text-fill: #F4D35E;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0.4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(244,211,94,0.35), 20, 0.3, 0, 0);
}

.card {
    -fx-background-color: #e32828;
}

.monster {
    -fx-background-color: #3d9bd9;
}

.belt {
    -fx-background-color: #4be137;
}

.sock {
    -fx-background-color: #ffe100;
}


.index-label {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-padding: 2 0 0 10;
    -fx-background-color: transparent;
}

.fonted-label {
    -fx-font-family: "Russo One";
}