.root {
    -fx-background-color: #f4c064;
}

.button {
    -fx-background-color: #bca8e4; 
    -fx-text-fill: #000; 
    -fx-border-color: #3d364a; 
    -fx-border-radius: 4px; 
    -fx-background-radius: 4px; 
    -fx-border-width: 1px;
}

.label {
    -fx-background-color: #f4c064;
}

.card {
    -fx-background-color: #e32828;
}

.monster {
    -fx-background-color: #3d9bd9;
}

.belt {
    -fx-background-color: #4be137;
}

.sock {
    -fx-background-color: #ffe100;
}


.index-label {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-padding: 2 0 0 10;
    -fx-background-color: transparent;
}